<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{user.name}}</h1>
        <p class="text-white mt-0 mb-5">Welcome to your profile page</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <input #upload (change)="onFileSelect($event)" accept="image/*" id="upload" style="display: none"
                     type="file"/>
              <a (click)="upload.click()">
                <img class="rounded-circle" src="{{user.imageUrl | defaultImageUser}}">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">

              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{user.name}}<span class="font-weight-light"></span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{user.email}}
            </div>

            <div>
              <i class="ni education_hat mr-2"></i>{{user.address}}
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <button #submit (click)="onSubmit()" class=" uploadButton-input ripple-effect big margin-top-30"
                      form="update-user-form" style="display: none" type="submit"></button>
              <a (click)="submit.click()" class="btn btn-sm btn-white">Update Informations</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="updateForm" id=update-user-form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Name</label>
                    <input class="form-control form-control-alternative" formControlName="name" id="input-name"
                           placeholder="{{user.name}}" required type="text">
                  </div>
                </div>

              </div>

            </div>

            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input class="form-control form-control-alternative" formControlName="address" id="input-address"
                           placeholder="Home Address" type="text" value="{{user.address}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input class="form-control form-control-alternative" formControlName="city" id="input-city"
                           placeholder="City" type="text" value="{{user.city}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input class="form-control form-control-alternative" formControlName="country" id="input-country"
                           placeholder="Country" type="text" value="{{user.country}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input class="form-control form-control-alternative" formControlName="postalCode"
                           id="input-postal-code" placeholder="Postal code" type="text" value="{{user.postalCode}}">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea class="form-control form-control-alternative" formControlName="aboutMe" id="input-aboutMe"
                          placeholder="A few words about you ..." rows="4" value="{{user.aboutMe}}"></textarea>
              </div>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
