<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->  <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10" *ngIf="owner">

          <a class="btn btn-info" (click)="addChapter()">add chapter</a>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0"> chapters</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">chapter</th>
              <th scope="col">Number</th>
              <th scope="col">Created at</th>
              <th scope="col">read chapter</th>
            </tr>
            </thead>
            <tbody *ngIf="chapters">
            <tr *ngFor="let chapter of chapters.content">
              <th scope="row">
                <div class="media align-items-center">

                  <div class="media-body">
                    <span class="mb-0 text-sm">{{chapter.name}}</span>
                  </div>
                </div>
              </th>
              <td>
                {{chapter.numero}}
              </td>
              <td>

                {{chapter.createdAt | date}}

              </td>
              <td>
                <a (click)="viewChapter(chapter)"  class="btn btn-info">View chapter</a>
              </td>


            </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4" *ngIf="chapters">
          <nz-pagination [nzPageIndex]=currentPage  [nzTotal]=chapters.totalElements  [nzPageSize]=sizePage (nzPageIndexChange)="paginate($event)"></nz-pagination>
        </div>
      </div>
    </div>
  </div>

</div>
